# ───────── Python i środowisko ─────────
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.log
*.pkl
*.joblib
*.manifest
*.spec
*.py,cover

# ───────── Notebooki i cache ─────────
.ipynb_checkpoints/
*.ipynb~
.mypy_cache/
.pytest_cache/
.dmypy.json
.pyre/
.pytype/

# ───────── Systemowe i edytorowe ────────
.DS_Store
Thumbs.db
.vscode/
.idea/
.ropeproject
.spyderproject
.spyproject

# ───────── narzędzia i frameworki ────────
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
celerybeat-schedule
celerybeat.pid

# ───────── uv / pipenv / poetry / pdm ─────────
uv.lock
#Pipfile.lock
#poetry.lock
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# ───────── Dokumentacja / Sphinx ─────────
docs/_build/
.site

# ───────── Dane i modele (TWÓJ PROJEKT) ─────────
data/
*.tar
*.gz
*.zip
*.npy
*.npz
*.pt
*.jpg
*.jpeg
*.png

# ───────── Klucze i konfiguracje ─────────
.env
.env.*
.pypirc
